.left > *{
    padding: 20px;
    height: 100px;
}

.profile{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #ece4f2;
}

.icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons > img{
    width: 35px;
    height: 35px;
}
.icons > img:nth-child(3){
    width: 40px;
    height: 40px;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.input > input{
    height: 45px;
    flex: 1;
    padding-left: 15px;
    border-radius: 20px;
    border: none;
}
.input > button{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inbox::-webkit-scrollbar{
    width: 5px;
    height: 50px;
    background-color: lightgray;
    border-radius: 2px;
}
.inbox::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 2px;
}
.inbox{
    width: 100%;
    height: calc(100vh - 300px);
    overflow-y: scroll;
    padding: 5px 20px;
}
.inbox > .inboxItem {
    width: 100%;
    color: #ffffff;
    font-weight: 600;
}
.inbox > .seen p{
    color: rgb(190, 190, 190);
    font-weight: 500;
}
.inbox > .inboxItem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 7px 0;
    padding: 4px;
}
.inbox > .inboxItem:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.inbox > .inboxItem > img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.inbox > .inboxItem > .info{
    margin-left: 20px;
    width: 65%; /* Set the maximum width */
}
.inbox > .inboxItem > .info > p{
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}