header{
    height: 75px;
    background-color: #ece4f28d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
}

header > img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}